body{
    background: #d2d2c1 url('imagem/fundo.png');
    font: 16px Arial, helvetica, sans-serif;

}

#principal{
    width: 900px;
}

/*========MENU-INICO=========*/
.menu{
    background: #c5c5b2;
    padding: 0.5em;
    margin: none;
}
.menu ul li{
    list-style: none;
    display:inline-block;

}

.menu ul li a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    margin: 1em;
    
}

/*--------MENU-FIM-----------*/

/*------==CONTEUDO*------*/
.conteudo{
    background-color: #e8e8d9;
    padding: 10px;
    
}


.conteudo h1{
    color:#828272;
    font-size: 1.2em;
}

.conteudo .img-campanha{
    border:  solid 10px #c3c3ae;

}



/*todos os diretos reservados*/

.rodape{
    text-align: center;
}
